   body{
    font-family: Arial, sans-serif;
    background-color: f2f2f2;
    padding: 30px;
}
.kaste{
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding:25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #003366;
}

label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: rgb(35, 146, 243);
    color: white ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.rezultats{
        width: 45%;
        background: #dff0d8;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
}
.input-container{
    background-color: #666;
    width:80px;
    padding:5px;
    margin-top:5px;
    border: radius 5px;
    border:none;
}